MONGODB_URI=mongodb+srv://gihomart:MMAsee22%26%2A@cluster0.lktkgfz.mongodb.net/gihomart?retryWrites=true&w=majority&appName=Cluster0

SMTP_HOST=smtp.EMMANUEL.com
SMTP_PORT=587
SMTP_USER=EMMANUEL
SMTP_PASS=EMMANUEL22%26%2A
SMTP_FROM=EMMANUEL <maseemmy2000@gmail.com>

ADMIN_EMAIL=maseemmy2000@gmail.com
NOTIFY_EMAILS=maseemmy2000@gmail.com,gihomarts250@gmail.com

NODE_ENV=development

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL_PROD=https://main-gihomart.vercel.app
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_API_URL_PROD=https://main-gihomart.vercel.app/api
