NEXT_PUBLIC_API_URL=http://localhost:5000
MONGODB_URI=mongodb+srv://maseemmy2000_db_user:MMAsee22&*@cluster0.fhbijkd.mongodb.net/?
SMTP_HOST=smtp.EMMANUEL.com
SMTP_PORT=587
SMTP_USER=EMMANUEL
SMTP_PASS=EMMANUEL22&*
SMTP_FROM=
ADMIN_EMAIL=maseemmy2000@gmail.com
NOTIFY_EMAILS=maseemmy2000@gmail.com,gihomarts250@gmail.com
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL_PROD=https://main-gihomart.vercel.app
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_API_URL_PROD=https://main-gihomart.vercel.app/api